version: '3.3'
services:
  bot:
    container_name: easypoll
    image: 'ghcr.io/easypoll-bot/easypoll-java:main'
    restart: unless-stopped
    environment:
      PRODUCTION: 'true'
      BOT_TOKEN: ''
      SHARDS_TOTAL: '2'
      SHARDS_MIN: '0'
      SHARDS_MAX: '1'
      MYSQL_HOST: '127.0.0.1'
      MYSQL_PORT: '3306'
      MYSQL_DATABASE: 'easypoll'
      MYSQL_USER: 'easypoll'
      MYSQL_PASSWORD: ''
      MONGODB_CLIENTURI: 'mongodb://root:mysuperpassword@mongodb:27017'
      MONGODB_DATABASE: 'DiscordBot'
      SENTRY_URL: ''
      BOTLIST_TOPGG: ''
      BOTLIST_DISCORDBOTLISTCOM: ''
      BOTLIST_BOTSONDISCORDXYZ: ''
      BOTLIST_DISCORDBOTSGG: ''
      BOTLIST_VOIDBOTSNET: ''
  mongodb:
    container_name: mongodb
    image: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: 'root'
      MONGO_INITDB_ROOT_PASSWORD: 'mysuperpassword'
    volumes:
      - /opt/volumes/easypoll/mongodb:/data/db
    ports:
      - 27017:27017